@import "../../global.scss";

.search-bar {
  z-index: 0;
  position: absolute;
  top: 10vh;
  min-height: 50vh;
  width: 100%;
  padding-top: $base-space * 2;
  background-color: $s-color;
  @extend %flex-centered;
  align-items: flex-start;
}
