@import "../../global.scss";

.search-bar {
  z-index: 1;
  position: absolute;
  top: 10vh;
  width: 100%;
  padding-top: $base-space * 2;
  background-color: $s-color;
  @extend %flex-centered;
  justify-content: flex-start;
}
