@import "../../global.scss";

.h1 {
  z-index: 2;
  background-color: $t-color;
  width: 100%;
  height: 10vh;
  border-bottom: black solid 2pt;
  position: fixed;
  @extend %flex-centered;
  font-size: 30pt;
}
