@import "../../global.scss";

.event-card {
  width: 15vw;
  height: 50vh;
  background-color: $p-color;
  border: black solid 2pt;
  padding: $base-space;
  margin: $base-space * 2;
  cursor: pointer;
  transition-duration: 0.2s;
  &:hover {
    background-color: rgb(131, 0, 207);
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
    transform: scale(1.2);
    z-index: 2;
  }
  .contents {
    min-height: 42.5vh;
    .hidden {
      display: none;
    }
    .larger {
      font-size: 25pt;
      word-wrap: break-word;
      transition-duration: 0.2s;
      text-align: center;
    }
    .title {
      text-align: center;
      padding-bottom: $base-space;
      font-size: 16pt;
      transition-duration: 0.5s;
      transition-property: word-wrap;
    }
    .description {
      width: 100%;
      max-height: 70%;
      overflow: auto;
      padding: $base-space;
      border-top: solid black 0.5pt;
      border-bottom: solid black 0.5pt;
    }
    .dates {
      padding-top: $base-space;
      text-align: right;
      font-size: 10pt;
    }
  }
}
.event-selector {
  width: 2vw;
  height: 2vw;
  background-color: white;
  border: black solid 1pt;
  position: relative;
  left: 13vw;
  bottom: 2.5vh;
  border-radius: 50%;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.5s;
  cursor: pointer;
}
.selected {
  border-width: 2pt;
  background-color: rgb(0, 151, 0);
  transform: scale(1.3);
  transition-property: transform;
  transition-duration: 0.5s;
}
